.about-me {
  display: flex;
  text-align: left;
  text-decoration: none;
}

h2 {
  font-size: 40pt;
  color: aqua;
  margin: 0%;
  width: 300px;
  padding-right: 3%;
  margin-right: 5%;
  border-right: 5px solid aqua;
}

.inline {
  display: flex;
}

.text-block {
  margin-right: 10%;
}












/* image link formula for webpage. Credit: https://stackoverflow.com/questions/12543697/setting-an-image-button-in-css-imageactive (.myButton)
https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_fade (.myButton: hover) */
.myButton{
    background:url(./images/but.png) no-repeat;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
    opacity: 0.6;
  transition: 0.3s;
}

.myButton:hover {opacity: 1}