body {
  padding: 0;
  margin: 0;
}

h1 {
  flex: 1 1 0;
  flex-wrap: nowrap;
  font-size: 32pt;
  margin-left: 3%;
  margin-right: 32%;
}

h2 {
  font-size: 35pt;
  color: black;
  margin: 0%;
  width: 141px;
  padding-right: 5%;
  margin-left: 3%;
  margin-bottom: 0%;
  /* border-right: 5px solid aqua; */
/* border-radius: 5%; */
}

h3 {
  font-size: 20pt;
  color: black;
  margin: 0%;
  width: 141px;
  padding-right: 5%;
  margin-left: 3%;
  /* border-right: 5px solid aqua; */
/* border-radius: 5%; */
}

 h5 {
  margin: 0;
  /* position: absolute; */
  text-align: center;
  font-size: 15pt;
 }

 h6 {
  position: absolute;
 }

footer {
  margin-bottom: 1%;
}

 header {
  display: flex;
  background-color: rgb(129, 85, 85);
  width: 100%;
  margin-bottom: 2%;
}

img {
  object-fit: fill;
  max-width: 100%;
  /* max-height: fit-content; */
}

.footer-block {
  display: flex;
  background-color: rgb(129, 85, 85);
  width: 100%;
  align-items: center;
  margin-top: 5%;
}

.inline {
  display: flex;
}

.work-align {
  display: flex;
}

.block {
  display: flex;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 2 1 0;
  list-style: none;
  text-align: center;
}

li {
  flex: 1 1 200px;
}



#portrait {
  position: relative;
  width: 192px;
  height: 233px;
  border: black solid 3px;
  border-radius: 10% 10% 10% 10%;
  margin-left: 1%;
  margin-bottom: 5%;
}

img {
   position: relative;
}

/* .bio-block {
  display: flex;
  background-color: rgb(173, 153, 153);
  align-items: center;
  margin-top: -20%;
  margin-left: 19%;
} */

.bio-text {
  margin-right: 10%;
  padding-left: 3%;
  /* border-left: 5px solid aqua; */
}

/* for work title and border */
/* .work-sect {
  margin-top: 6%;
  margin-left: 4%;
} */
/* sets button box bext to work title on page */
.work-flexbox {
  position: relative;
  display: flex;
  flex-flow: wrap-reverse;
  width: 75%;
  height: 800px;
  /* height: 500px; */
  border-left: 5px solid aqua ;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.card {
  position: relative;
  flex: 1 1 0;
  border: 4px solid black;
  min-width: 30%;
  max-height: 245px;
  /* padding-top: 30px; */
  margin: 8px;
  margin-left: 3%;
}

.card-text {
  position: absolute;
  bottom: 10%;
  left: 10%;
}



.contact-me {
  /* margin-right: 10%; */
  border-left: aqua solid 5px;
  height: 110px;
}














/* image link formula for webpage. Credit: https://stackoverflow.com/questions/12543697/setting-an-image-button-in-css-imageactive (.myButton)
https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_fade (.myButton: hover) */
.myButton{
    background:url(./images/but.png) no-repeat;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
    opacity: 0.6;
  transition: 0.3s;
}

.myButton:hover {opacity: 1}

/* Media screen section */






@media screen and (max-width: 768px) {
  .inline   {
      /* flex-direction: column; */
      flex: 1 2 0;
      /* background-color: blue; */
   }

   header {
     text-align: end;
     flex-direction: column;
     width: 100%;
   }

  ul  {
justify-content: end;
    padding-left: 0;
    
   }

   li {
    max-height: 50px;
align-content: start;   }

  .block {
     /* flex-direction: column; */
  }

  #portrait {
   align-content: center;
 }

 .work-flexbox {
  justify-content: end;
 }

}

@media screen and (max-width: 425px) {
  h1 {
    margin-right: 18%;
  }

  h3 {
    margin-top: 2%;
    margin-left: 0%;
    padding: 0%;
  }

 body {
  /* border: 5px solid black; */
  padding: 0px;
  margin: 0;
 }

 ul {
  flex-direction: column;
 }
 
 div {
  flex-direction: column;
 }

  .work-flexbox {
    border: none;
    width: 100%;
  }

 .footer-block {
   flex-direction: column;
  }

  .contact-me {
    border: none;
  }

}





  