h1 {
  margin-left: 3%;
  margin-right: 40%;
}

h2 {
  font-size: 40pt;
  color: rgb(10, 80, 80);
  margin: 0%;
  width: 142px;
  padding-right: 5%;
  margin-left: 3%;
  margin-bottom: 0%;
  /* border-right: 5px solid aqua; */
/* border-radius: 5%; */
}

footer {
  margin-bottom: 1%;
}

.inline {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
  flex: 1 1 100px;
  list-style: none;
  text-align: center;
}

li {
  flex: 1 1 200px;
}

#top-block {
 background-color: rgb(129, 85, 85);
 width: 100%;
 height: 70px;
 margin-bottom: 2%;
 z-index: -1;
}

#portrait {
  position: relative;
  width: 192px;
  height: 233px;
  border: black solid 3px;
  border-radius: 10% 10% 10% 10%;
  margin-left: 1%;
  margin-bottom: 5%;
}

.topic-block {
  background-color: rgb(173, 153, 153);
  width: 75%;
  align-items: center;
  margin-top: 5%;
  margin-left: 15%;
}

.bio-block {
  position: absolute;
  background-color: rgb(173, 153, 153);
  width: 74%;
  align-items: center;
  margin-top: 1%;
  margin-left: 19%;
}

.flex-block {
  display: flex;
  flex-direction: column;
}


/* sets margin for parahraphs in the About Me section */
.text-block {
  margin-right: 10%;
  padding-left: 3%;
  height: 190px;
  border-left: 5px solid aqua;
}

.bio-text {
  margin-right: 10%;
  padding-left: 3%;
  height: 190px;
  /* border-left: 5px solid aqua; */
}

.about-me {
  
  display: flex;
  text-align: left;
  text-decoration: none;
}

.work {
  border-left: aqua solid 5px;
}

.contact-me {
  /* margin-right: 10%; */
  border-left: aqua solid 5px;
  height: 110px;
}














/* image link formula for webpage. Credit: https://stackoverflow.com/questions/12543697/setting-an-image-button-in-css-imageactive (.myButton)
https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_fade (.myButton: hover) */
.myButton{
    background:url(./images/but.png) no-repeat;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
    opacity: 0.6;
  transition: 0.3s;
}

.myButton:hover {opacity: 1}